.hi_selector_input{
    width: 100%;  
}
.hi_selector_label{
    display: block;
    margin-bottom: 1%;
    font-size: 20px;
}
.hi_insert_html_label{
    display: block;
    margin-bottom: 1%;
    font-size: 20px;
}
 .tmce-active button.switch-tmce,.html-active button.switch-html{
    background: #2271b1 !important;
    color: #fff;
     font-weight: 500 !important;
}

.hi_target_page_label{
    display: block;
    margin-bottom: 1%;
    font-size: 20px;
}
.hi_target_page_selector{
    width: 100%;  
}
.hi_target_location_label{
    display: block;
    margin-bottom: 1%;
    font-size: 20px;
}
.hi_select_location_selector{
    width: 100%; 
}

