.shci_selector_input{
    width: 100%;
}
.shci_selector_label{
    display: block;
    margin-bottom: 1%;
    font-size: 20px;
}
.shci_insert_html_label{
    display: block;
    margin-bottom: 1%;
    font-size: 20px;
}
 .tmce-active button.switch-tmce,.html-active button.switch-html{
    background: #2271b1 !important;
    color: #fff;
     font-weight: 500 !important;
}

.shci_target_page_label{
    display: block;
    margin-bottom: 1%;
    font-size: 20px;
}
.shci_target_page_selector{
    width: 100%;
}
.shci_target_location_label{
    display: block;
    margin-bottom: 1%;
    font-size: 20px;
}
.shci_select_location_selector{
    width: 100%;
}

